
<app-nav-bar></app-nav-bar>
<div class="row">
  <div layout="column" layout-align="center center">
    <div class="col-sm-offset-5">
      <h1 class="text-primary">Add Item</h1>
    </div>
  </div>
  <hr>
  <div class="col-md-5">
    <div class="col-sm-offset-5">
      <h3><b>Add Book</b></h3>
    </div>  
    <hr>
    <app-add-book></app-add-book>
  </div>
  <div class="col-md-7">
    <div class="col-sm-offset-5">
      <h3><b>Add DVD</b></h3>
    </div>  
    <hr>
    <app-add-dvd></app-add-dvd>
  </div>
</div>