<app-nav-bar></app-nav-bar>
<div>
  <div class="container" layout="column" layout-align="center center">
      <hr>
      <div class="col-sm-offset-5">              
        <h1 class="text-primary">Borrow an Item</h1>
        <br>
      </div>
      <hr>
    <form>
          <div>
            <label class="control-label col-sm-5" for="ISBN">ISBN</label>
              <div class="col-sm-3">
                <input type="number" class="form-control" [(ngModel)]="isbn" id="isbn" placeholder="Enter ISBN" name="isbn" required>
              </div>
          </div>

          <div>
            <label class="control-label col-sm-5" for="readerName">Reader Name</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" [(ngModel)]="readername" placeholder="Enter Reader Name" name="readername" required>
            </div>
          </div>
          <div>
            <label class="control-label col-sm-5" for="Date and Time Borrowed">Date Borrowed</label>
            <div class="col-sm-3">
              <input type="date" class="form-control" [(ngModel)]="date" id="datetime"  name="date" required>
            </div>
          </div>
          <div>
            <div class="col-sm-5 col-sm-offset-3">
              <button type="submit" class="btn  btn-primary btn-lg"  (click)="borrowItem()" >Submit</button>
            </div>
          </div>
    </form>
  </div>
</div>